.goods {
    font-family: 'PT Sans', sans-serif;
}

.goods h3 {
    font-family: 'Cuprum', sans-serif;
}

.perforators {
    font-family: 'Cuprum', sans-serif;
}

.perforators p {
    font-family: 'PT Sans', sans-serif;
}

