@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400;0,700;1,400;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {    
    --red: #EE3643;
    --white: #FFFFFF;
    --basic: #293449;
    --gold: #FFBF47;
    --green: #8ED78F;
    --technologies: #DC91D8;
    --tools: #3BBCE3;
    --light-basic: #32425C;
}

body {
    padding: 0;
    margin: 0;
}

header {
    background: rgba(0, 0, 0, 0.0001);
    width: 100%;
    padding-bottom: 60px;
}

.menu-block {
    background-color: var(--basic);
}

header > div {
    display: flex;
    font-family: 'Cuprum', sans-serif;
    align-items: center;
}

header > div > *{
    margin: 0 auto;
}

.phone {
    font-weight: bold;
    color: var(--red);
    font-size: 21px;
    line-height: 30px;
}

.visually-hidden {
    display: none;
}

.menu {
    font-family: Cuprum;
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
}

.menu button {
    background-color: #63A63E;
    padding: 9px 16px 9px 19px;
    font-family: Cuprum;
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
    border: none;
}

.about {
    margin: 0 160px;
}

.about button {
    font-size: 21px;
    line-height: 21px;
    padding: 6px 12px;
}

.about div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about button img {
    padding: 0 6px;
}

.description {
    font-family: 'Cuprum', sans-serif;
    font-style: italic;
    color: var(--red);
    width: 193px;
}

.contacts {
    background-color: var(--basic);
}

.network {
    background-color: var(--basic);
}

nav a {
    font-family: 'Cuprum', sans-serif;
}

main {
    font-family: 'Cuprum', sans-serif;
}

.slider {
    position: relative;
    width: 620px;
}

.rightArrow {
    right: 0;
}

.materials {
    background-color: var(--gold);
}

.tools {
    background-color: var(--tools);
}

.technologies {
    background-color: var(--technologies);
}

.discounts {
    background-color: var(--green);
}

.delivery {
    background-color: var(--gold);
}

.formerPrice {
    text-decoration: line-through;
}

.networks {
    display: flex;
    flex-direction: row;
    width: 5%;
    justify-content: space-around;
}

.vk {
    width: 26px;
    height: 15px;
    background-image: url("../img/icon-vk.svg");
}

.fb {
    width: 12px;
    height: 22px;
    background-image: url("../img/icon-fb.svg");
}

.insta {
    width: 21px;
    height: 21px;
    background-image: url("../img/icon-insta.svg");
}

footer {
    font-family: 'Cuprum', sans-serif;
}

nav ul {
    margin: 0 130px;
    display: flex;
    justify-content: space-around;
    background-color: var(--light-basic);
    padding: 0;
}

nav li {
    list-style-type: none;
    width: 100%;
    text-align: center;
}

nav li:hover {
    background-color: var(--basic);
}

nav a {
    color: var(--white);
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 16px 0 20px;
}

.downside-navigation {
    background-color: var(--light-basic);
}

.downside-navigation ul {
    margin: 0;
    padding: 0;
}

.about .contacts {
    border: 3px solid var(--white);
    background: inherit;
}