@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400;0,700;1,400;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {    
    --red: #EE3643;
    --white: #FFFFFF;
    --basic: #293449;
    --gold: #FFBF47;
    --green: #8ED78F;
    --yellow: #FFD180;
    --technologies: #DC91D8;
    --tools: #3BBCE3;
    --light-basic: #32425C;
    --sand: #F9F5F0;
    --phone-color: #F3F7F9;
    --light-blue: #F3F7F8;
    --order-color: #63A63E;
    --black: #000000;
    --service-color: #F1F5F7;
    --network-background: #212A3A;
}

body {
    padding: 0;
    margin: 0;
}

.header-block {
    background: var(--light-blue);
    width: 100%;
    padding-bottom: 60px;
    color: var(--white);
}

.menu-block {
    background-color: var(--basic);
    justify-content: space-between;
    padding: 0 130px;
}

.header-block > div {
    display: flex;
    font-family: 'Cuprum', "Arial", sans-serif;
    align-items: center;
}

.city {
    color: var(--light-basic);
}

.visually-hidden {
    display: none;
}

.menu {
    display: flex;
    align-items: center;
    font-family: Cuprum;
    font-size: 18px;
    line-height: 24px;
}

.address {
    color: var(--white);
}

.address-info, .phone-number {
    margin: 0;
    font-size: 18px;
    line-height: 24px;
}

.address-info {
    margin-top: 22px;
}

.menu button {
    height: 100%;
    background-color: var(--order-color);
    padding: 9px 16px 9px 19px;
    font-family: Cuprum;
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
    border: none;
}

.about {
    margin: 40px 160px;
    align-items: center;
}

.about > div p {
    margin: 0;
}

.about .phone {
    font-weight: bold;
    color: var(--red);
    font-size: 21px;
    line-height: 30px;
    background-color: var(--phone-color);
    width: 270px;
    text-align: center;
    padding: 7px 0 7px;
    border: 3px solid var(--white);
    box-sizing: border-box;
    margin-bottom: 10px;
}

.about button {
    font-size: 21px;
    line-height: 21px;
    margin: 0;
    margin-right: 10px;
    height: 45px;
    padding: 0 24px;
    background-color: var(--white);
    border: none;
}

.about .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.login img {
    padding: 0 6px;
}

.description {
    font-family: 'Cuprum', "Arial", sans-serif;
    font-style: italic;
    color: var(--red);
    width: 193px;
    margin: 0;
}

.downside-contacts {
    background-color: var(--basic);
    padding: 0 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.downside-contacts > div {
    padding: 35px 0;
    color: var(--white);
}

.yellow-link {
    display: block;
    color: var(--yellow);
}

.feedback {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
}

.contacts-block {
    display: flex;
    width: 940px;
}

.profile-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-block {
    margin: 0;
}

.profile-block li {
    margin-left: 13px;
    margin-right: 15px; 
}

.profile p {
    color: var(--black);
}

.profile + ul {
    display: flex;
    color: var(--light-basic);
    justify-content: space-between;
    padding: 0;
}

.profile + ul li:first-child {
    list-style-type: none;
    margin-left: 0;
}

.network {
    background: linear-gradient(0deg, var(--network-background), var(--network-background));
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    margin: 0 5px;
}

.network:hover, .network:focus {
    background: linear-gradient(0deg, var(--red), var(--red));
}

.navigation a {
    font-family: 'Cuprum', "Arial", sans-serif;
}

.main-content {
    font-family: 'Cuprum', "Arial", sans-serif;
    padding: 59px 0;
}

main > section {
    width: 940px;
    margin: 0 auto;
}

.rightArrow {
    right: 0;
}

.materials {
    background-color: var(--gold);
}

.tools {
    background-color: var(--tools);
}

.technologies {
    background-color: var(--technologies);
}

.discounts {
    background-color: var(--green);
}

.delivery {
    background-color: var(--gold);
}

.formerPrice {
    text-decoration: line-through;
    font-size: 17px;
    line-height: 18px;
}

.currentPrice {
    background: var(--red);
    color: var(--white);
    font-weight: bold;
    padding: 10px 32px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 140px;
    left: 50%;
    margin-left: -70px;
}

.currentPrice::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20.5px 0 21px 21px;
    border-color: transparent transparent transparent var(--red);
    position: absolute;
    right: -21px;
    bottom: -0.3px;
}

.networks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icon {
    position: absolute;
    left: 50%;
    top: 50%;
}

.vk {
    width: 26px;
    height: 15px;
    background-image: url("../img/icon-vk.svg");
    margin-left: -13px;
    margin-top: -7px;
}

.fb {
    width: 12px;
    height: 22px;
    background-image: url("../img/icon-fb.svg");
    margin-top: -11px;
    margin-left: -6px;
}

.insta {
    width: 21px;
    height: 21px;
    background-image: url("../img/icon-insta.svg");
    margin-left: -10px;
    margin-top: -10px;
}

footer {
    font-family: 'Cuprum', "Arial", sans-serif;
}

nav ul {
    margin: 0 130px;
    display: flex;
    justify-content: space-around;
    background-color: var(--light-basic);
    padding: 0;
}

nav li {
    list-style-type: none;
    width: 100%;
    text-align: center;
}

nav li:hover {
    background-color: var(--basic);
}

nav a {
    color: var(--white);
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 16px 0 20px;
}

.downside-navigation {
    display: flex;
    background-color: var(--light-basic);
    justify-content: space-between;
    padding: 0 130px 55px;
}

.links {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.white-links, .yellow-links {
    margin: 0;
    padding: 0;
    display: flex;
}

.white-links {
    justify-content: space-around;
}

.white-links a {
    text-decoration: none;
    color: var(--white);
}

.yellow-links {
    justify-content: space-evenly;
}

.yellow-links a {
    text-decoration: none;
    color: var(--yellow);
}

.downside-navigation li {
    list-style-type: none;
}

.about .contacts {
    border: 3px solid var(--white);
    background: inherit;
}

.rights-reserved {
    flex-grow: 1;
}

.rights-reserved p {
    margin: 0;
}

.details {
    display: flex;
    justify-content: space-around;
}

.title-block {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title {
    display: flex;
    justify-content: center;
    color: var(--white);
    text-transform: uppercase;
    background-color: var(--red);
    text-align: center;
    font-size: 25px;
    line-height: 25px;
    padding: 15px 0 17px;
    margin: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    width: 220px;
    box-sizing: border-box;
    margin-right: 17px;
}

.details {
    width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 120px 120px 120px;
    gap: 20px;
    margin-bottom: 59px;
}

.perforators {
    height: 100%;
    grid-column: 1/3;
}

.discounts {
    grid-column: 3;
}

.delivery {
    grid-row: 3;
    grid-column: 3;
}

.slider {
    grid-row: 2/4;
    grid-column: 1/3;
    position: relative;
    color: var(--white);
    font-family: Cuprum;
    font-weight: bold;
}

.slider img:nth-child(2) {
    width: 100%;
}

.slider p {
    position: absolute;
    margin-left: 24px;
}

.slider p:nth-child(1) {
    font-size: 36px;
    line-height: 36px;
}

.details > div {
    display: flex;
}

.details > div > div {
    margin-left: 23px;
}

.details > div img {
    align-self: flex-end;
    margin: auto;
}

.details h3 {
    font-size: 24px;
    line-height: 30px;
    color: var(--white);
    margin: 20px 0 auto;
}

.slider .leftArrow, .slider .rightArrow {
    top: 125px;
    position: absolute;
    margin: 0 24px;
}

.slider:last-child div {
    margin: 0;
}

.perforator-examples ul, .services article, .description-block p {
    font-family: 'PT Sans', "Arial", sans-serif;
}

.services {
    width: 100%;
    background-color: var(--service-color);
}

.services ul {
    padding: 0;
}

.services li {
    list-style-type: none;
}

.services h2 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.services h3 {
    font-size: 25px;
    line-height: 25px;
    text-transform: uppercase;
}

.service-content {
    width: 940px;
    margin: 0 auto;
    padding-top: 20px;
}

.service-details {
    display: flex;
    justify-content: space-between;
}

.service-details button {
    width: 240px;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    border: none;
    color: var(--white);
    background-color: var(--light-basic);
    text-align: left;
    height: 61px;
    padding-left: 22px;
}

.service-details button:disabled {
    color: var(--basic);
    background-color: var(--white);
}

.service-details button:not(:disabled):hover {
    background-color: var(--basic);
}

.service-details button:focus {
    outline: none;
}

.service-detail {
    display: flex;
    margin-left: 80px;
}

.service-detail h3 {
    color: var(--light-basic);
}

.service-detail p {
    width: 330px;
}

.service-detail div {
    z-index: 1;
}

.service-detail img {
    position: relative;
    right: 20%;
}

.description-block {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    line-height: 24px;
}

.company-details {
    width: 478px;
}

.company-details ul {
    padding: 0;
    margin-bottom: 20px;
}

.company-details li {
    list-style-type: none;
}

.company-details li::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 2px;
    background-color: var(--red);
    margin-right: 12px;
    margin-bottom: 3px;
}

.description-block p {
    margin: 0;
}

.description-block .intro {
    margin-bottom: 32px;
}

.description-block h2 {
    font-size: 30px;
    line-height: 30px;
}

.company-details, .map-block {
    display: flex;
    flex-direction: column;
}

.contacts-title {
    text-transform: uppercase;
    margin-bottom: 0px;
}

.company-details {
    justify-content: space-evenly;
}

.description-block button {
    font-family: 'Cuprum', "Arial", sans-serif;
}

.company-details a, .map-block button {
    background-color: var(--red);
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    color: var(--white);
    text-decoration: none;
    padding: 11px 0 9px;
    text-transform: uppercase;
    border: none; 
}

.company-details a {
    padding: 11px 40px 9px;
    width: 220px;
    box-sizing: border-box;
}

.map-block {
    justify-content: space-between;
}

.map-block p {
    width: 181px;
}

.manufacturers {
    font-family: 'Cuprum', "Arial", sans-serif;
}

.manufacturers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    align-content: space-between;
    margin-bottom: 60px;
}

.manufacturers-list li {
    list-style-type: none;
    margin: 10px 0;
}

.link {
    background-color: rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    text-align: center;
    margin: auto 0 20px;
}

.link a {
    display: block;
    padding: 10px 24px;
}

.detail a {
    font-size: 14px;
    line-height: 18px;    
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;
}

.detail > div{
    display: flex;
    flex-direction: column;
}

.perforator-examples {
    margin: 0 auto 70px;
}

.detail-content {
    width: 170px;
}

.section-title-block {
    background-color: var(--sand);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}

.all-items {
    padding: 11px 24px 9px;
    background-color: var(--red);
    color: var(--white);
}

.section-title {
    font-size: 30px;
    line-height: 30px;
    color: var(--light-basic);
    margin: 29px 28px 30px;
}

.all-items {
    font-size: 14px;
    line-height: 18px;
    margin-right: 14px;
}

.perforator-examples ul {
    display: flex;
    list-style-type: none;
    text-align: center;
    justify-content: space-around;
}

.perforator-examples .perforator {
    height: 185px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.perforator-examples li {
    position: relative;
    height: 318px;
}

.goods {
    font-family: 'PT Sans', "Arial", sans-serif;
}

.goods h3 {
    font-family: 'Cuprum', "Arial", sans-serif;
}

.perforators {
    font-family: 'Cuprum', "Arial", sans-serif;
}

.perforators p {
    font-family: 'PT Sans', "Arial", sans-serif;
}

.name {
    font-size: 21px;
    line-height: 21px;
    background: var(--white);
    padding: 12px 5px;
}

.name img {
    margin: 0 15px;
}